# ===========================
# .NET
# ===========================
bin/
obj/

# ===========================
# Visual Studio
# ===========================
.vs/
*.user
*.suo

# ===========================
# React / Node
# ===========================
node_modules/
dist/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment
# ===========================
.env
.env.*

# ===========================
# Docker
# ===========================
docker-compose.override.yml

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db

# ===========================
# IDE
# ===========================
.vscode/
.idea/